/* body { background-color:#222 } */

.h1 {
    padding: 10;
    text-align: center;
}

#frame {
    width:1200px;
    margin:20px auto;
}

#header{
    margin-top: 60px;
    width: 1200px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #eafcff;
}

#con1{
    margin-top: 30px;
    margin-bottom: 0;
    width: 1200px;
    height: 350px;
    background-color: white;
    display: flex;
    justify-content:center;
}

#con2{
    margin-top: 30px;
    margin-bottom: 0;
    width: 1200px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content:center;
}

#con3{
    margin-top: 30px;
    margin-bottom: 0;
    width: 1200px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content:center;
}

#con4{
    margin-top: 0px;
    margin-bottom: 0;
    width: 1200px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content:center;
}


/* #profile{
    display: flex;
    justify-content:center;
    width: 500px;
    height: 400px;
    text-align: center;
    line-height: 500px;
    background-color: black;
} */

table {
    text-align: center;
    border: 1px solid #222;
    border-collapse: collapse;
}

td, tr {
    border: 1px solid #222;
    padding: 10px;
}

video{
    max-width: 500px;
}
